<%- include("layouts/header"); -%>

<section class="container">
    <h1 class="text-center">About The App</h1>

    <li>NodeJS</li>
    <li>ExpressJS</li>
    <li>EJS</li>
    <li>MVC Concept</li>
    <li>UUID</li>
    <li>Body-Parser</li>

    

</section>

<%- include("layouts/footer"); -%>