<%- include("layouts/header"); -%>

    <section class="container">
        <h1>Contact</h1>
        <div class="card">
            <h4>
                <%= contact.name %>
            </h4>
            <a href="mailto:<%= contact.email %> ">Send Email</a>
        </div>



    </section>

    <%- include("layouts/footer"); -%>