<%- include("layouts/header"); -%>

    <section class="container text-center">
        <h1>Post Detail</h1>
        <hr />

        <h4>
            <%= post.titlePost %>
        </h4>
        <p>
            <%= post.bodyPost %>
        </p>

        <hr />
        <a href="/" class="btn btn-success">Home</a>

    </section>

    <%- include("layouts/footer"); -%>